/* src/pages/ListModel.module.css */

.container-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
  }
  
  .card-custom {
    width: 100%;
    max-width: 500px;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }

  .list-model-page {
    background-color: #f8f9fa; /* Light gray (almost white) */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

  